{% if card %}<meta name="twitter:card" content="{{ card }}">{% endif %}
{% if site %}<meta name="twitter:site" content="{{ site }}">{% endif %}
{% if site_id %}<meta name="twitter:site:id" content="{{ site_id }}">{% endif %}
{% if creator %}<meta name="twitter:creator" content="{{ creator }}">{% endif %}
{% if creator_id %}<meta name="twitter:creator:id" content="{{ creator_id }}">{% endif %}
{% if url %}<meta name="twitter:url" content="{{ url }}">{% endif %}
{% if title %}<meta property="twitter:title" content="{{ title|striptags|slice:'70' }}"/>{% endif %}
{% if description %}<meta name="twitter:description" content="{{ description|striptags|slice:'200' }}">{% endif %}
{% if image %}<meta property="twitter:image" content="{{ image }}">{% endif %}
{% if image_width %}<meta property="twitter:image:width" content="{{ image_width }}">{% endif %}
{% if image_height %}<meta property="twitter:image:height" content="{{ image_height }}">{% endif %}